.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #37383A;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.logo {
  width: 180px;
  height: auto;
  margin-bottom: 30px;
  animation: fadeIn 1.5s ease-in-out;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #1e90ff;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}