*{
    font-family:'Alumni Sans SC', 'Alumni' ;
    color:#5F6065 ;
}
.productCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:10px 10vw;
}

.productContent {
    display: block;
    width: 250px;
   padding: 5px;
    margin: 20px 0;
}
.productContent:hover{
    border-color: #0B8FC9;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    transform: scale3d(1.1,1.1,1.2);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.productImage {
    border-radius: 10px;
    width: 100%;
    
}

.productName{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}
.productInfo{
    display: flex;
    justify-content: space-between;
}
.productMaterial {
    
    font-weight: 400;
    font-size: 20px;
    
}
.colorContainer{
    display: flex;
    gap: 5px;
}
.coloresProductCard{
    display: inline;
    width: 10px;
    height: 10px;
}
.productPrice{
    color: #9b9ca3;
    font-size: 32px;
}

.buyButton{
    width: 105px;
    height: 35px;
    background-color:#0B8FC9 ;
 
    border-radius: 10px;
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin: auto;
}
.productAction{
    text-align: center;}

    .lançamentoSpan{
        
        display: inline;
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
        border-radius: 5px;
        color: #000000;
        padding: 0 10px;
        margin: 10px 10px ;
        background-color:#ffffff ;
        position: absolute;
        

    }
.componenteVazio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
    margin-top: 25vh;
}