.homeSection{

display: flex;
justify-content: space-between;
align-items: last baseline;
margin: 25px 10vw 0 10vw;

}
.sectionTitle {
  display: flex;
  justify-content: space-evenly;
  display: inline;
  font-size: 64px;
  font-weight: 700;
  
  color: #0B8FC9;
} 
.showMoreButton{
  
  background-color: transparent;
  font-size: 36px;
  border: none;
  color: #0B8FC9;
  padding: 0;
}



