*{
    font-family:'Alumni Sans SC', 'Alumni' ;
    color:#5F6065 ;
}
.categoriesSection{
margin-top: 30px;
margin: 0 10vw;
}
.categoriesHeader{
display: flex;
justify-content: space-between;
align-items: last baseline;


}
.categoriesTitle {
  display: flex;
  justify-content: space-evenly;
  display: inline;
  font-size: 64px;
  font-weight: 700;
  
  color: #0B8FC9;
} 
.showMoreButton{
  background-color: transparent;
  font-size: 36px;
  border: none;
  color: #0B8FC9;
  padding: 0;

}
.categoriesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categoryCard{
  max-width: 250px;
  text-align: center;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}


.categoryImage{
  max-width: 100%;
  
}
.categoryCard:hover{
  
  border-style: double;
  border-width: 2px;
  border-color: #0B8FC9;
  transform: scale3d(1.1, 1.1,1.1);
  transition: transform 0.5s ease;
  
}
.categoryName{
  font-size: 18pt;
  font-weight: bolder;


  position: relative;
  max-width: 90%;
  margin:0 5%;
}
