@font-face {
  font-family: 'Alumni Sans SC';
  src: url('../../assets/fonts/alumni-sans-sc/static/AlumniSansSC-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni Sans SC';
  src: url('../../assets/fonts/alumni-sans-sc/static/AlumniSansSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*{
    margin: 0;
    font-family:'Alumni Sans SC', 'Alumni' ;
}

.headerContent{
    padding: 10px 0 ;
    background-color: #37383A;
    display: grid;
    grid-template-columns: auto auto auto;
}
.text_TopBar{
    font-size: 8pt;
    color: #243F68;
}

.headerLogo{
    margin: 5px 1110px;
    height: 69px;
    margin: 0 15%;
}
a {
  text-decoration: none;   /* remove sublinhado */
  color: inherit;          /* herda a cor do elemento pai */
  cursor: pointer; 
  display: flex;  
  align-items: center;      /* mantém o cursor de clique */
}

.iconNav{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: auto;
    font-size: 30px;
}
.textIcon{
    display: inline;
    color:#fff ;
    font-size: 40px ;
    font-weight: 700;
}
.fa_icon{
    width: 40px ;
   
}