*{
    margin: 0;
    font-family: 'Alumni Sans SC';
}
.topBar{
    width: 100%;
    height: 20px;
    background-color: #7894C7;

    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bolder;
}
.text_TopBar{
    font-size: 8pt;
    color: #243F68;
    font-family: 'Alumni Sans SC';
}
.headerLogo{

    max-width: 60%;
    max-height: auto;
    margin: 0 15%;
}
.headerContent{
    display: grid;
    grid-template-columns: 16% 65% auto;
}
.fa_icon{

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 30px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 5%;
    position: relative;
    top: -10px;
    color: #243F68;
    font-size: 10pt;
    font-weight: 900;
}